.navbar {
  background-color: #175785;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}

.navbar .btn-link {
  color: white;
}

#nav-profile {
  cursor: pointer;
  display: inline-block;
}

#dropdownMenuToggle {
   background: none;
}

#nav-profile img {
  width: 33px;
  height: 33px;
}

.dropdown-toggle:after{
  display:none;
}

.btn-toolbar {
  display: inline-block;
}